<article class="post-small {{post_class}}{{#unless feature_image}} no-image{{/unless}}">
    <section>
        {{#if feature_image}}
        <a href="{{url}}">
            <img src="{{feature_image}}">
        </a>
        {{/if}}

        <div class="post-small-txt">
            <a href="{{url}}"><h2>{{title}}</h2></a>
            <p>{{excerpt words="33"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
        </div>
    </section>
</article>