<ul class="social-links">

    <li>
        <a title="instagram" href="https://instagram.com/psnszsn" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    <li>
        <a title="flickr" href="https://flickr.com/innst" target="_blank">
            <i class="fab fa-flickr"></i>
        </a>
    </li>
    <li>
        <a title="twitter" href="https://twitter.com/psnszsn" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    <li>
        <a title="github" href="https://github.com/psnszsn" target="_blank">
            <i class="fab fa-github"></i>
        </a>
    </li>
    <li>
        <a title="gitlab" href="https://gitlab.com/psnszsn" target="_blank">
            <i class="fab fa-gitlab"></i>
        </a>
    </li>
    {{!-- <li>
        <a title="rss" href="{{@blog.url}}rss/" target="_blank">
            <i class="fas fa-rss"></i>
        </a>
    </li> --}}
</ul>