<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "styles.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "prism/prism.css"}}" />
    <script src="{{asset "prism/prism.js"}}"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    {{ghost_head}}

</head>



<body class="container">


    <header>
        <label>
            <input type="checkbox">
            <span class="menu">
                <span class="hamburger"></span>
                <h1>Vlad Pănăzan</h1>
            </span>
            <div class="menu-cent">
            {{> "social-links"}}
            {{navigation}}
            </div>
        </label>
    </header>

    {{{body}}}



    {{!-- <footer class="site-footer clearfix">
        <section class="copyright">
            <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
        <section class="poweredby">
            <a href="https://github.com/h4t0n/odin">Odin</a> theme created by Andrea Tarquini (
            <a href="https://twitter.com/h4t0n">@h4t0n</a>). Proudly published with
            <a href="https://ghost.org">Ghost</a>
        </section>
    </footer> --}}


    {{ghost_foot}}
</body>

</html>