{{!< default}}

{{! The main content area on the homepage }}
<main id="content" class="home content" role="main">



    {{#foreach posts}}
        {{> "post-small"}}
    {{/foreach}}
    
    {{!-- {{pagination}} --}}

</main>