{{!< default}}


{{#post}}

<article class="post-page {{post_class}}">
    <section id="top">
        <h1>{{title}}</h1>
        {{!-- {{content words="200"}} --}}
    </section>
    {{#if feature_image}}
    <section style="padding: 10px 10px 5px 10px;">
        <img src="{{feature_image}}">
    </section>
    {{/if}}

    <section id="ccc">
        {{content}}
    </section>
</article>



<script>
    let cont = document.getElementById("ccc").firstElementChild;
    console.log(cont.children);
    let sus = document.getElementById("top");

    while (cont.children.length > 1 && sus.innerText.length < 300) {
        console.log(cont.children.length);
        sus.appendChild(cont.children[0]);
    }
</script>

{{/post}}