/*  092935 -albastru inchis
    399C95 -verge
    DEE0CA -deschis linkuri
    FAF9EE -deschis text/fundal
    D5A370 -maron */

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400|Open+Sans');
:root {
  --deepblue: #092935;
  --green: #399C95;
  --highlight: #DEE0CA;
  --litehighlight: #FAF9EE;
  --brown: #D5A370;
  --darkgrey: #15171A;
  --midgrey: #738a94;
  --lightgrey: #c5d2d9;
  --whitegrey: #e5eff5;
}

body {
  margin: 0px;
  padding: 0;
  font-family: Nunito;
  font-size: 1.2em;
  background-color: whitesmoke;
}
h1{
  font-size: 1.8em;
  /* font-weight: 300; */
  color: whitesmoke;
  /* text-decoration: underline; */
}

label h1 {
  position: absolute;
  display: block;
  top: -20px;
  left: 70px;
  /* width: 70px; */
  color: whitesmoke;
  font-weight: 300;
  font-size: 2em;
  text-decoration: none;
}

label .hamburger {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 30px;
  height: 2px;
  background: var(--whitegrey);
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--whitegrey);
}

label .hamburger:before {
  top: -10px;
}

label .hamburger:after {
  bottom: -10px;
}

label input {
  display: none;
}

label input:checked+.menu {
  box-shadow: 0 0 0 100vw var(--green), 0 0 0 100vh var(--green);
  border-radius: 0;
  position: fixed;
}

label input:checked+.menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

label input:checked+.menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
}

label input:checked+.menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
}

label input:checked+.menu+.menu-cent {
  display: flex;
  opacity: 1;
  -webkit-transform: translate(100vw, 100vh);
  transform: translate(100vw, 100vh);
}

label .menu {
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 10px;
  z-index: 100;
  width: 350px;
  height: 60px;
  background: var(--green);
  /* border-radius: 50% 50% 50% 50%; */
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 var(--green), 0 0 0 0 var(--green);
  /* box-shadow: -10px -10px 0px black; */
  cursor: pointer;
  /* margin: 15px; */
}

label .menu-cent {
  z-index: 200;
  position: fixed;
  top: -100vh;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  opacity: 0;
  -webkit-transition: opacity .4s ease-in-out 0s;
  transition: opacity .4s ease-in-out 0s;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: var(--highlight);
  text-decoration: none;
}

label .social-links {
  padding: 0;
  list-style-type: none;
}

label .social-links li {
  display: inline-block;
  font-size: 2.5rem;
  padding: 10px;
}
label .social-links li a:hover{
  color: var(--deepblue);
}

label .nav {
  /* width: 100%; */
  list-style-type: none;
  padding: 0px;
}

label .nav li a {
  background: var(--deepblue);
  width: 300px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
label .nav li a:hover{
  background: var(--highlight);
  color: var(--deepblue);
}

.post-page {
  display: grid;
  grid-template-columns: [full-start] minmax(1em, 1fr) [main-start] minmax(0, 59em) [main-end] minmax(1em, 1fr) [full-end];
  grid-gap: 2em;
  margin-top: 3em;
}

.post-page section {
  grid-column: main;
  padding: 2em;
}

.post-page figure {
  grid-column: full;
  /* grid-column: main; */
  /* box-shadow: 10px 10px 0px teal; */
}

.post>section {
  /* background-color: #eaeaea; */
  /* background-color: #162F40; */
  background-color: var(--deepblue);
  color: var(--whitegrey);
  box-shadow: 10px 10px 0px var(--green);
}

.post-page figure {
  text-align: center;
}

.post img {
  max-width: 100%;
}

.home {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 2em;
  margin: 3vw;
}

@media screen and (max-width: 600px) {
  .home {
    grid-template-columns: 1fr;
    margin: 15px;
  }
  .post-page {
    display: grid;
    grid-template-columns: [full-start] 15px [main-start] minmax(0, 59em) [main-end] 15px [full-end];;
    grid-column-gap: 0;
  }
}

.post-small section {
  display: flex;
  flex-direction: column;
  /* height: 600px; */
  height: 100%;
}

.post-small img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.post-small-txt {
  padding: 0px 2em;
}

a {
  color: var(--highlight);
  text-decoration: none;
  display: inline-block;
}
.post-page a:hover{
  background-color: var(--green);
  color: var(--deepblue);
}

.post-page pre {
  overflow-x: auto;
  margin: 1.5em 0 3em;
  padding: 20px;
  max-width: 100%;
  border: var(--darkgrey) 1px solid;
  color: whitesmoke;
  /* font-size: 1rem; */
  line-height: 1.3em;
  background: var(--midgrey);
}